/*footer.css*/
.navbar {
  text-align: center; /* Asegura centrado del contenido */
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link {
  color: #fff !important; /* Fuerza el color blanco */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8c471 !important; /* Color de hover */
}

small {
  font-size: 0.8rem;
  line-height: 1.5;
}
