/*Menucontent.css*/
.menu-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.article-card {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem ;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Aseguramos que el contenido se ajuste al contenedor */
  overflow-wrap: break-word;
}

.article-header {
  display: flex;
  align-items: center;
}

.article-title {
  flex: 1;
  font-size: 1rem;
  text-align: left;
  /* Si prefieres truncar el título largo, puedes mantener white-space: nowrap y text-overflow: ellipsis.
     Si quieres que se divida en dos o más líneas sin desbordarse, elimina estas propiedades: */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  overflow-wrap: break-word;
}

.article-price {
  font-size: 1.4rem;
  color: #007bff;
  font-weight:500;
  text-align: right;
  /* Evitar que el precio se desborde */
  overflow-wrap: break-word;
  margin-left: 10px;
}

.article-ingredientes {
  font-size: 1rem;
  color: #555;
  text-align: left;
  overflow-wrap: break-word;
}

.article-extra {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: #777;
  text-align: left;
  overflow-wrap: break-word;
}

.article-adicional,
.article-size {
  overflow-wrap: break-word;
}

.section-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0;
  /* Opcional: para dar un efecto de "botón" */
  transition: transform 0.2s ease;
}
.section-button:active {
  transform: scale(0.98);
}
